<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App - Dual Robot Control</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button-group {
            display: flex;
            gap: 10px; /* Space between buttons */
            align-items: center;
            justify-content: flex-start; /* Align items to the left */
        }
        h3 {
            margin-bottom: 20px; /* Add spacing below the heading */
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-5">Dual Robot Control Dashboard</h1>

        <!-- Shared Section for Both Robots (e.g., Shared Map) -->
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center">Shared Resources</h2>
                
                <!-- Shared Map -->
                <div class="mb-4 text-center">
                    <h3>Shared Map</h3>
                    <img src="{{ shared_map_url }}" alt="Shared Map" class="img-fluid">
                    <form action="/shared_map_export" method="get" class="mt-2">
                        <button type="submit" class="btn btn-secondary">Export Shared Map</button>
                    </form>
                </div>
            </div>
        </div> 

        <!-- Row with two columns -->
        <div class="row">
            <!-- Left Column (Summit-Xl) -->
            <div class="col-md-6">
                <h2>Summit-Xl Controls</h2>


                <!-- Trigger Action on Summit-Xl -->
                <div class="mb-4">
                    <h3>Trigger Action on Summit-Xl</h3>
                    <form action="/trigger_execution_summit" method="post" class="form-check">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="bringup_summit" name="launchfile_id_summit" value="bringup_summit">
                            <label class="form-check-label" for="bringup_summit">Bringup</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="startmapping_summit" name="launchfile_id_summit" value="startmapping_summit">
                            <label class="form-check-label" for="startmapping_summit">Start Mapping</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="savemap_summit" name="launchfile_id_summit" value="savemap_summit">
                            <label class="form-check-label" for="savemap_summit">Save Map</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="startfrontcam_summit" name="launchfile_id_summit" value="startfrontcam_summit">
                            <label class="form-check-label" for="startfrontcam_summit">Start front camera</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="stopfrontcam_summit" name="launchfile_id_summit" value="stopfrontcam_summit">
                            <label class="form-check-label" for="stopfrontcam_summit">Stop front camera</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="startarmcam_summit" name="launchfile_id_summit" value="startarmcam_summit">
                            <label class="form-check-label" for="startarmcam_summit">Start arm camera</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="stoparmcam_summit" name="launchfile_id_summit" value="stoparmcam_summit">
                            <label class="form-check-label" for="stoparmcam_summit">Stop arm camera</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Trigger Execution</button>
                    </form>
                    {% if execution_status_summit %}
                        <div class="alert alert-info mt-3">Execution Status: {{ execution_status_summit }}</div>
                    {% endif %}
                </div>
                
                

                <!-- Foxglove Dashboard Link for Summit-Xl -->
                <div class="mb-4">
                    <h3>Link to Summit Foxglove Dashboard</h3>
                    <a href="https://foxglove-demo-vo2.robopaas.dev/?ds=foxglove-websocket&ds.url=wss%3A%2F%2Fbridges-vo2.robopaas.dev&rand={{ timestamp }}" class="btn btn-info">Foxglove Dashboard</a>
                </div>

                <!-- Environment Map for Summit-Xl -->
                <div class="mb-4">
                    <h3>Environment Map</h3>
                    {% if image_url_summit %}
                    <img src="{{ image_url_summit }}" alt="Summit-Xl Map">
                    {% endif %}
                    <form action="/map_export_summit" method="get" class="mt-2">
                        <button type="submit" class="btn btn-secondary">Export Map</button>
                    </form>
                </div>


                <!-- Read Data for Summit-Xl -->
                <div class="mb-4">
                    <h3>Read Properties on Summit-Xl</h3>
                    <form action="/read_data_summit" method="get">
                        <button type="submit" class="btn btn-secondary">Read Data</button>
                    </form>
                    {% if data_summit %}
                    <div class="alert alert-info mt-3">Data: {{data_summit }}</div>
                    {% endif %}
                </div>


                <!-- Sensor Deployment for Summit-Xl -->
                <div class="mb-4">
                    <h3>Start Sensor Deployment</h3>
                    <form action="/start_sensor_deployment" method="post">
                        {% for i in range(9) %}
                        <div class="mb-2">
                            <label>Coordinate {{ i+1 }}:</label>
                            <input type="text" name="coord_x_{{ i }}" placeholder="X{{ i+1 }}">
                            <input type="text" name="coord_y_{{ i }}" placeholder="Y{{ i+1 }}">
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-2">Start Sensor Deployment</button>
                    </form>
                    {% if sensor_status %}
                    <div class="alert alert-info mt-3">Status: {{ sensor_status }}</div>
                    {% endif %}
                </div>

                <!-- Liquid Sampling for Summit-Xl -->
                <div class="mb-4">
                    <h3>Start Liquid Sampling</h3>
                    <form action="/start_liquid_sampling" method="post">
                        <div class="mb-2">
                            <label>X Coordinate:</label>
                            <input type="text" name="liquid_coord_x" placeholder="X">
                        </div>
                        <div class="mb-2">
                            <label>Y Coordinate:</label>
                            <input type="text" name="liquid_coord_y" placeholder="Y">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Start Liquid Sampling</button>
                    </form>
                    {% if liquid_status %}
                    <div class="alert alert-info mt-3">Status: {{ liquid_status }}</div>
                    {% endif %}
                </div>


                <!-- Read Properties Periodically on Summit-Xl -->
                <div class="mb-4">
                    <h3>Read Periodic Properties on Summit-Xl</h3>
                    <form action="/current_values_summit" method="get">
                        <button type="submit" class="btn btn-secondary">Current Values</button>
                    </form>
                    {% if current_status_summit %}
                        <div class="alert alert-info mt-3">Current Values: {{current_status_summit}}</div>
                    {% endif %}
                </div>


                <!-- Store Map on VO's DB for Summit-Xl -->
                <div class="mb-4">
                    <h3>Store Map on VO's DB</h3>
                    <form action="/store_map_db_summit" method="get">
                        <label for="filename_tosave_summit" class="form-label">Filename to use:</label>
                        <input type="text" id="filename_tosave_summit" name="filename_tosave_summit" class="form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Store map on DB</button>
                    </form>
                    {% if store_map_db_summit %}
                    <div class="alert alert-info mt-3">Execution Status: {{store_map_db_summit }}</div>
                    {% endif %}
                </div>


                <!-- List Filenames on VO's DB for Summit-Xl -->
                <div class="mb-4">
                    <h3>List Filenames on VO's DB</h3>
                    <form action="/read_data_db_summit" method="get">
                        <button type="submit" class="btn btn-secondary">Read Filenames stored on VO's DB</button>
                    </form>
                    {% if data_db_summit %}
                    <div class="alert alert-info mt-3">Data: {{data_db_summit }}</div>
                    {% endif %}
                </div>


                <!-- Get Environment Map from VO's DB for Summit-Xl -->
                <div class="mb-4">
                    <h3>Get Environment Map</h3>
                    <img src="{{ map_from_db_summit }}" alt="Summit Map" class="img-fluid">
                    <form action="/read_map_from_db_summit" method="get" class="mt-2">
                        <label for="filename_map_summit" class="form-label">Filename:</label>
                        <input type="text" id="filename_map_summit" name="filename_map_summit" class="form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Get Map</button>
                    </form>
                    {% if map_from_db_summit %}
                    <div class="alert alert-info mt-3">Execution Status: {{map_from_db_summit }}</div>
                    {% endif %}
                </div>




                <div class="container mt-5">
                    <h3>Control rosbag for Summit</h3>
                    <div class="button-group">
                        <!-- Start rosbag on Summit -->
                        <form action="/startstorezenoh_bag_vo_summit" method="get">
                            <button type="submit" class="btn btn-secondary">Start</button>
                        </form>
            
                        <!-- Stop rosbag on Drone -->
                        <form action="/stopstorezenoh_bag_vo_summit" method="get">
                            <button type="submit" class="btn btn-secondary">Stop</button>
                        </form>
                    </div>
            
                    <!-- Execution Status Messages -->
                    {% if startstorezenoh_bag_vo_summit %}
                    <div class="alert alert-info mt-3">Execution Status: {{ startstorezenoh_bag_vo_summit }}</div>
                    {% endif %}
                    {% if stopstorezenoh_bag_vo_summit %}
                    <div class="alert alert-info mt-3">Execution Status: {{ stopstorezenoh_bag_vo_summit }}</div>
                    {% endif %}
                </div>

                
                 <!-- Read Rosbag on VO's FS for Drone -->
                <div class="mb-4">
                    <h3>View the rosbag on VO's FS</h3>
                    <a href="https://foxglove-demo-vo2.robopaas.dev/?ds=remote-file&ds.url=https%3A%2F%2Fngnix-vo1.robopaas.dev%2Fmy_rosbag/my_rosbag_0.mcap" class="btn btn-info">Rosbag stored on VO</a>
                </div>
        </div>

            
            <!-- Right Column (Drone) -->
            <div class="col-md-6">
                <h2>Drone Controls</h2>

                <!-- Trigger Action on Drone -->
                <div class="mb-4">
                    <h3>Trigger Action on Drone</h3>
                    <form action="/trigger_execution_drone" method="post" class="form-check">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="bringup_zed" name="launchfile_id_drone" value="bringup_zed">
                            <label class="form-check-label" for="bringup_drone">Bringup</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="startmapping_drone" name="launchfile_id_drone" value="startmapping_drone">
                            <label class="form-check-label" for="startmapping_drone">Start Mapping</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="savemap_drone" name="launchfile_id_drone" value="savemap_drone">
                            <label class="form-check-label" for="savemap_drone">Save Map</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="savebag_drone" name="launchfile_id_drone" value="savebag_drone">
                            <label class="form-check-label" for="savebag_drone">Start rosbag</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="stopbag_drone" name="launchfile_id_drone" value="stopbag_drone">
                            <label class="form-check-label" for="stopbag_drone">Stop rosbag</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Trigger Execution</button>
                    </form>
                    {% if execution_status_drone %}
                        <div class="alert alert-info mt-3">Execution Status: {{ execution_status_drone }}</div>
                    {% endif %}
                </div>

                <!-- Foxglove Dashboard Link for Drone -->
                <div class="mb-4">
                    <h3>Link to Drone Foxglove Dashboard</h3>
                    <a href="https://foxglove-demo-vo1.robopaas.dev/?ds=foxglove-websocket&ds.url=wss%3A%2F%2Fbridges-vo1.robopaas.dev&rand={{ timestamp }}" class="btn btn-info">Foxglove Dashboard</a>
                </div>

                <!-- Environment Map for Drone -->
                <div class="mb-4">
                    <h3>Environment Map</h3>
                    {% if image_url_drone %}
                    <img src="{{ image_url_drone }}" alt="Drone Map">
                    {% endif %}
                    
                    <form action="/map_export_drone" method="get" class="mt-2">
                        <button type="submit" class="btn btn-secondary">Export Map</button>
                    </form>
                </div>

                <!-- Read Data for Drone -->
                <div class="mb-4">
                    <h3>Read Properties on Drone</h3>
                    <form action="/read_data_drone" method="get">
                        <button type="submit" class="btn btn-secondary">Read Data</button>
                    </form>
                    {% if data_drone %}
                    <div class="alert alert-info mt-3">Data: {{data_drone }}</div>
                    {% endif %}
                </div>


                <!-- Read Properties Periodically on Drone -->
                <div class="mb-4">
                    <h3>Read Periodic values on Drone</h3>
                    <form action="/current_values_drone" method="get">
                        <button type="submit" class="btn btn-secondary">Current Values</button>
                    </form>
                    {% if current_status_drone %}
                    <div class="alert alert-info mt-3">Current Values: {{current_status_drone}}</div>
                    {% endif %}
                </div>

                <!-- Store Map on VO's DB for Drone -->
                <div class="mb-4">
                    <h3>Store Map on VO's DB</h3>
                    <form action="/store_map_db_drone" method="get">
                        <label for="filename_tosave_drone" class="form-label">Filename to use:</label>
                        <input type="text" id="filename_tosave_drone" name="filename_tosave_drone" class="form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Store map on DB</button>
                    </form>
                    {% if store_map_db_drone %}
                    <div class="alert alert-info mt-3">Execution Status: {{store_map_db_drone }}</div>
                    {% endif %}

                </div>

                <!-- List Filenames on VO's DB for Drone -->
                <div class="mb-4">
                    <h3>List Filenames on VO's DB</h3>
                    <form action="/read_data_db_drone" method="get">
                        <button type="submit" class="btn btn-secondary">Read Filenames stored on VO's DB</button>
                    </form>
                    {% if data_db_drone %}
                    <div class="alert alert-info mt-3">Data: {{data_db_drone }}</div>
                    {% endif %}
                </div>

                <!-- Get Environment Map from VO's DB for Drone -->
                <div class="mb-4">
                    <h3>Get Environment Map</h3>
                    <img src="{{ map_from_db_drone }}" alt="Drone Map" class="img-fluid">
                    <form action="/read_map_from_db_drone" method="get" class="mt-2">
                        <label for="filename_map_drone" class="form-label">Filename:</label>
                        <input type="text" id="filename_map_drone" name="filename_map_drone" class="form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Get Map</button>
                    </form>
                    {% if map_from_db_drone %}
                    <div class="alert alert-info mt-3">Execution Status: {{map_from_db_drone }}</div>
                    {% endif %}
                </div>

                <!-- Save Rosbag on VO's FS for Drone -->
                <div class="mb-4">
                    <h3>Save rosbag on VO's FS</h3>
                    <form action="/store_bag_vo_drone" method="get">
                        <label for="bagname_tosave_drone" class="form-label">Filename (.mcap):</label>
                        <input type="text" id="bagname_tosave_drone" name="bagname_tosave_drone" class="form-control">
                        <button type="submit" class="btn btn-secondary mt-2">Save rosbag</button>
                    </form>
                    {% if store_bag_vo_drone %}
                    <div class="alert alert-info mt-3">Execution Status: {{store_bag_vo_drone }}</div>
                    {% endif %}
                    
                </div>

                

                <div class="container mt-5">
                    <h3>Control rosbag for Drone</h3>
                    <div class="button-group">
                        <!-- Start rosbag on Drone -->
                        <form action="/startstorezenoh_bag_vo_drone" method="get">
                            <button type="submit" class="btn btn-secondary">Start</button>
                        </form>
            
                        <!-- Stop rosbag on Drone -->
                        <form action="/stopstorezenoh_bag_vo_drone" method="get">
                            <button type="submit" class="btn btn-secondary">Stop</button>
                        </form>
                    </div>
            
                    <!-- Execution Status Messages -->
                    {% if startstorezenoh_bag_vo_tb2 %}
                    <div class="alert alert-info mt-3">Execution Status: {{ startstorezenoh_bag_vo_tb2 }}</div>
                    {% endif %}
                    {% if stopstorezenoh_bag_vo_tb2 %}
                    <div class="alert alert-info mt-3">Execution Status: {{ stopstorezenoh_bag_vo_tb2 }}</div>
                    {% endif %}
                </div>


                 <!-- Read Rosbag on VO's FS for Drone -->
                 <div class="mb-4">
                    <h3>View the rosbag on VO's FS</h3>
                    <a href="https://foxglove-demo-vo1.robopaas.dev/?ds=remote-file&ds.url=https%3A%2F%2Fngnix-vo1.robopaas.dev%2Frosbag.mcap" class="btn btn-info">Rosbag stored on VO</a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>

